<div id="navbar">
    <div style="display: inline-block; vertical-align: middle;">
        <img src="/img/filmstrip-icon.svg" alt="" width="19px" height="19px"
            style="display: inline; vertical-align: middle;">

        <p style="display: inline; vertical-align: middle;">
            <span style="font-size: 1.1rem">&nbsp;Film<i><strong>Search</strong></i></span>
            <span style="font-size: 0.9rem; color: #bababa;">.<i>xyz</i></span> &nbsp;&nbsp;
            <a href="/">Home</a> &nbsp;&nbsp;
            <a href="/about">About</a> &nbsp;&nbsp;
        </p>
    </div>
</div>
<hr style="margin-bottom: 1.4rem;">