<div id="navbar">
    <div style="display: inline-block; vertical-align: middle;">
        <img src="img/magnifying-glass.svg" alt="magnifying glass icon" width="20px" height="20px"
            style="display: inline; vertical-align: middle;">

        <p style="display: inline; vertical-align: middle;">
            <span style="font-size: 1.1rem">&nbsp;Eureka<i><strong>Search</strong></i></span> &nbsp;&nbsp;
            <a href="/">Search</a> &nbsp;&nbsp;
            <!-- <a href="/search">Search</a> &nbsp;&nbsp; -->
            <a href="/about">About</a> &nbsp;&nbsp;
        </p>
    </div>
</div>
<hr style="margin-bottom: 1.4rem;">