{{template "partials/navbar" .}}
<!-- <h2 class="content-area">❓ Frequently Asked Questions</i></h2> -->
<h3>About</h3>

<strong>Description</strong>
<div class="content-area">
    <p>A search engine for movies using natural language.</p>
</div>

<strong>Contact & Feedback</strong>
<div class="content-area">
    <p>If you have any feedback, please let me know. (TODO)</p>
</div>

<strong>Privacy</strong>
<div class="content-area">
    <p>I don't collect personal information, store cookies, or use tracking. I log search queries to understand and
        improve the results (and beacuse I'm curious what people search for).</p>
    <p>Keep in mind that search queries get sent to OpenAI for processing, so refer to their <a
            href="https://openai.com/policies/privacy-policy/" target="_blank" rel="noopener">privacy policy</a>.</p>
</div>

<strong>Attribution:</strong>
<div class="content-area">
    <p>Icons:<br>
        Author: <a href="https://www.svgrepo.com/author/pixelbazaar/" target="_blank" rel="noopener">pixelbazaar</a><br>
        License: <a href="https://www.svgrepo.com/page/licensing/#CC%20Attribution" target="_blank" rel="noopener"> CC
            Attribution License</a> (No changes were made)</p>
    <p>Movie posters:<br>
        <a href="https://www.themoviedb.org/" target="_blank" rel="noopener">The Movie Database</a><br>
        I'm required to say that: "This product uses the TMDB API but is not endorsed or certified by TMDB."
    </p>
    <a href="https://www.themoviedb.org/" target="_blank" rel="noopener"><img src="/img/tmdb.svg" alt=""
            width="100px"></a>
</div>

{{template "partials/footer" .}}