{{template "partials/navbar" .}}
<!-- <h2 class="content-area">❓ Frequently Asked Questions</i></h2> -->
    <p>About</p>

    <p>Keyword tags are from <a href="https://www.themoviedb.org/" target="_blank" rel="noopener">The Movie
            Database.</a><br>
        I'm also required to say that: "This product uses the TMDB API but is not endorsed or certified by TMDB."</p>
    <a href="https://www.themoviedb.org/" target="_blank" rel="noopener"><img src="/img/tmdb.svg"
            alt="the movie databse logo" width="100px"></a>

{{template "partials/footer" .}}