{{template "partials/navbar" .}}

<div class="flexbox-center">
    <h2>Discover movies using natural language</h2>
</div>

<div id="search-input-wrapper" class="flexbox-center">
    <form id="search-form" style="position: relative; display: inline-block;">
        <input type="text" name="search-input" id="search-input" autocomplete="off" autocapitalize="off"
            autocorrect="off" placeholder="Search..." autofocus style="padding-right: 30px;">
        <span id="spinner" class="spin" style="display: none; position: absolute; right: -30px; top: -8%; transform: translateY(-50%);"></span>
        <input type="submit" style="display: none;">
    </form>
</div>

<br>

<div style="text-align: center; line-height: 1.9rem;">
    <div style="font-weight: bold; font-size: 1.1rem;">Example searches</div>
    <div class="example-searches">
        <a>top action movies from 2004</a>
        <a>lonely programmers</a>
        <a>jamacian bobslead team</a>
    </div>
    <div class="example-searches">
        <a>vietnam war movies</a>
        <a>movies with the actor that played walt in breaking bad</a>
    </div>
</div>

<br>

<script src="/js/index.js" async></script>

{{template "partials/footer" .}}