{{template "partials/navbar" .}}

<div class="flexbox-center">
    <h2>Discover movies using natural language</h2>
</div>

<div id="search-input-wrapper" class="flexbox-center">
    <form id="search-form">
        <input type="text" name="search-input" id="search-input" autocomplete="off" autocapitalize="off"
            autocorrect="off" placeholder="Search..." autofocus>
        <input type="submit" style="display: none;">
    </form>
</div>

<br>

<div style="text-align: center; line-height: 1.9rem;">
    <div style="font-weight: bold; font-size: 1.1rem;">Example searches</div>
    <div class="example-searches">
        <a href="">red dog</a>
        <a href="">second search</a>
        <a href="">jamacian bobslead team</a>
    </div>
    <div class="example-searches">
        <a href="">fourth search</a>
        <a href="">fifth search</a>
    </div>
</div>

<br>

<script src="/js/index.js" async></script>

{{template "partials/footer" .}}