{{template "partials/navbar" .}}

<div class="flexbox-center">
    <img src="/img/magnifying-glass-icon.svg" alt="" width="25px" height="25px">
    <h2 style="font-weight: 400;">Discover movies using natural language</h2>
</div>

<div id="search-input-wrapper" class="flexbox-center">
    <form id="search-form" style="position: relative; display: inline-block;">
        <input type="text" name="search-input" id="search-input" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="Describe a movie..." autofocus style="padding-right: 30px;">
        <button type="submit" style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer;">
            <img src="/img/arrow-sm-right.svg" alt="" width="21px" height="21px" style="vertical-align: middle; margin-top: 1.25px;">
        </button>
        <input type="submit" style="display: none;">
    </form>
</div><br>

<div style="text-align: center; line-height: 1.9rem;">
    <div style="font-weight: normal; font-size: 1.1rem; margin-bottom: 10px;">Sample searches:</div>
    <div class="example-searches">
        <span class="example-search">thrillers with unreliable narrators</span>
    </div>
    <div class="example-searches">
        <span class="example-search">man's perseverance over nature</span>
        <span class="example-search">feelings of unrequited love</span>
    </div>
    <div class="example-searches">
        <span class="example-search">sci-fi ai ethics</span>
        <span class="example-search">non-linear storytelling</span>
    </div>
    <br>
    <div class="example-searches">
        <span class="example-search">car chase through san francisco</span>
        <span class="example-search">vietnam war</span>
    </div>
    <div class="example-searches">
        <span class="example-search">similar to pulp fiction</span>
    </div>
</div><br>

<script src="/js/index.js" async></script>

{{template "partials/footer" .}}