{{template "partials/navbar" .}}

<a href="/">← Back</a>

<p>Results for: {{.Query}}</p>

{{ range $index, $title := .Titles }}
<div class="container" style="display: flex; align-items: flex-start; margin-bottom: 20px;">
    <img src="{{ index $.Posters $index }}" alt="">
    <div class="text-container" style="margin-left: 10px;">
        <div style="font-weight: bold; font-size: 1.1rem; margin-bottom: 8px;">{{ index $.Titles $index }}</div>
        <div style="margin-bottom: 4px;"><b><i>Why: </i></b>{{ index $.Reasons $index }}</div>
        <div style="font-size: 0.9rem;">
            <a class="tmdb_info" href="{{ index $.Urls $index }}" target="_blank">more info</a> /
            <a class="tmdb_info" href="{{ index $.Urls $index }}/watch" target="_blank">where to watch</a>
        </div>
    </div>
</div>
{{ end }}

<script src="/js/search.js" async></script>

{{template "partials/footer" .}}