/* FOOTER */
div.footer p {
  color: #bababa;
  font-size: 9pt;
  line-height: 1.3em;
}

div.footer p a {
  color: #bababa;
}

div.footer p a:visited {
  color: #bababa;
}

a {
  color: #9eb6dd;
}

#navbar a:hover {
  background-color: rgba(81, 91, 112, 0.7);
  /* background-color: rgba(0, 0, 0, 0.18); */
}

div#heading {
  display: flex;
  margin-top: 18px;
}

div#title h3 {
  margin: -5px 0 0 2px;
  font-weight: 200;
}

body {
  background-color: #1a1b1e;
  /* #374151; */
  color: #DEDEDE;
  line-height: 1.4em;
  width: 45%;
  min-width: 750px;
  margin: 15px auto;
  padding: 0 15px;
  font-family: "Play", sans-serif;
}

.content-area {
  padding: 0 15px;
}

.small-text {
  /* color: #bababa; */
  font-size: 0.8rem;
  line-height: 1.3em;
}

/* textarea {
  width: 66%;
  height: 55px;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #23272a;
  /* font-family: Arial, sans-serif; */
/* font-size: 13px;
  border-radius: 6px;
  color: #DEDEDE;
}

textarea::placeholder {
  color: #999;
} */


.flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  width: 400px;
  padding: 0.5rem 1rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #3c3d3e;
  /* font-size: 1.1rem; */
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

/* Style for focus state */
#search-input:focus {
  /* border: 1px solid #717274; */
  outline: none;
}

.example-searches {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  gap: 30px; 
}

.example-searches a {
  text-decoration: underline;
  cursor: pointer;
}

.spin {
  border: 3px solid #556177;
  border-radius: 50%;
  border-top: 3px solid #DEDEDE;
  width: 20px;
  height: 20px;
  margin-top: 1rem;
  -webkit-animation: spin 0.43s cubic-bezier(.7,.05,.4,.88) infinite;
  animation: spin 0.43s cubic-bezier(.7,.05,.4,.88) infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
